NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=lifespace-meetups
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=lifespace-meetups.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=460862835786
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_LIFESPACE_DEFAULT_USER_ID=
SQUARE_ACCESS_TOKEN=
SQUARE_LOCATION_ID=
SQUARE_ENVIRONMENT=
NEXT_PUBLIC_SITE_URL=
